.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 1.750rem 0.938rem;
	background: #fff;
	min-height: 100vh;

	@include min-responsive($screen-small-phone) {
		padding: 1.750rem 1.250rem;
	}

	@include min-responsive($screen-middle) {
		width: 400px;
		margin-top: 1rem;
		margin-bottom: 1.750rem;
		min-height: calc(100vh - 2.75rem);
	}

	&.-profile {
		background: transparent;
		padding: 0 1.250rem;

		// padding: 0 0.938rem;
		// @include min-responsive($screen-small-phone) {
		// }
		@include min-responsive($screen-middle) {
			width: $screen-middle;
		}
	}

	&.-medium {

		// background: transparent;
		// padding: 0 1.250rem;
		@include min-responsive($screen-middle) {
			width: $screen-middle;
		}
	}

	&-back {
		min-height: auto;
		margin-bottom: 1rem;
		padding: 0;

		&~.container {
			margin-top: 0;
		}
	}
}

// .section {
// 	position: relative;
// 	width: 100%;
// 	@include min-responsive($screen-large-desktop) {
// 		width: 1200px;
// 		margin: 0 auto;
// 	}
// }

main {
	position: relative;
	display: flex;
	min-height: calc(100vh - 100px);
	@include min-responsive($screen-large-desktop) {
		width: 1400px;
		margin: 0 auto;
	}
}

aside {
	position: relative;
	flex-basis: 20%;
	flex-grow: 0;
	border-right: 1px solid var(--neutral-grey-100, #D3DAE0);
	background: var(--neutral-white-dark-50, #F9F9F9);
	display: none;
	@include min-responsive($screen-small-desktop) {
		display: block;
	}
	@include min-responsive($screen-large-desktop) {
		border-left: 1px solid var(--neutral-grey-100, #D3DAE0);
	}
	& ~ .board {
		@include min-responsive($screen-tablet) {
			max-width: 100%;
		}
		@include min-responsive($screen-small-desktop) {
			max-width: 80%;
		}
	}
}

.board {
	position: relative;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-direction: column;
	padding: 0 20px 24px;
	@include min-responsive($screen-tablet) {
		padding: 0 28px 24px;
	}
	&-row {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 20px 0 30px;
		gap: 20px;
	}
	&-more {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 20px 0;
		justify-content: center;
    align-items: center;
		// .button {
		// 	width: fit-content;
		// 	padding: 0 20px
		// } 
	}
	&-404 {
		position: relative;
		width: 100%;
		display: flex;
    align-items: center;
    flex-direction: column;
		gap: 20px;
		padding: 10vh 20px;
		@include min-responsive($screen-tablet) {
			flex-direction: row;
			width: calc(100% - 60px);
			margin: 0 auto;
			// gap: 20px;
		}
		@include min-responsive($screen-small-desktop) {
			width: calc(100% - 200px);
		}
		@include min-responsive($screen-large-desktop) {
			width: 1250px;
			padding: 10vh 70px;
		}
		&-col {
			position: relative;
			display: flex;
			gap: 15px;
			flex-direction: column;
			align-items: center;
			order: 2;
			@include min-responsive($screen-tablet) {
				align-items: flex-start;
				order: 1;
			}
			.title {
				&.-big {
					color: #f2526a;
				}
				@include max-responsive($screen-middle) {
					text-align: center;
				}
			}
		}
		&-img {
			position: relative;
			display: flex;
			justify-content: center;
			order: 1;
			@include min-responsive($screen-tablet) {
				order: 2;
			}
			img {
				height: 200px;
				@include min-responsive($screen-tablet) {
					height: 300px;
				}
				@include min-responsive($screen-desktop) {
					height: 400px;
				}
			}
		}
	}
}

.col {
	&-basis {
		flex-grow: 0;
		flex-basis: 100%;
		@include min-responsive($screen-tablet) {
			flex-shrink: 0;
		}
	}
	@include min-responsive($screen-tablet) {
		&-5 {
			flex-basis: 5%;
			&.note-col {
				max-width: 5%;
			}
		}
		&-10 {
			flex-basis: 10%;
			&.note-col {
				max-width: 10%;
			}
		}
		&-15 {
			flex-basis: 15%;
			&.note-col {
				max-width: 15%;
			}
		}
		&-20 {
			flex-basis: 20%;
			&.note-col {
				max-width: 20%;
			}
		}
		&-25 {
			flex-basis: 25%;
			&.note-col {
				max-width: 25%;
			}
		}
		&-30 {
			flex-basis: 30%;
			&.note-col {
				max-width: 30%;
			}
		}
		&-35 {
			flex-basis: 35%;
			&.note-col {
				max-width: 35%;
			}
		}
		&-40 {
			flex-basis: 40%;
			&.note-col {
				max-width: 40%;
			}
		}
		&-45 {
			flex-basis: 45%;
			&.note-col {
				max-width: 45%;
			}
		}
		&-50 {
			flex-basis: 50%;
			&.note-col {
				max-width: 50%;
			}
		}
		&-55 {
			flex-basis: 55%;
			&.note-col {
				max-width: 55%;
			}
		}
		&-60 {
			flex-basis: 60%;
			&.note-col {
				max-width: 60%;
			}
		}
		&-65 {
			flex-basis: 65%;
			&.note-col {
				max-width: 65%;
			}
		}
		&-70 {
			flex-basis: 70%;
			&.note-col {
				max-width: 70%;
			}
		}
		&-75 {
			flex-basis: 75%;
			&.note-col {
				max-width: 75%;
			}
		}
		&-80 {
			flex-basis: 80%;
			&.note-col {
				max-width: 80%;
			}
		}
		&-85 {
			flex-basis: 85%;
			&.note-col {
				max-width: 85%;
			}
		}
		&-90 {
			flex-basis: 90%;
			&.note-col {
				max-width: 90%;
			}
		}
		&-95 {
			flex-basis: 95%;
			&.note-col {
				max-width: 95%;
			}
		}
		&-100 {
			flex-basis: 100%;
			&.note-col {
				max-width: 100%;
			}
		}
	}
}