<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="Tentang Kami"}}

		<!-- media -->
		<section class="section about">
			<div class="board-row">

				<h1 class="title -big">Profil Para Pendiri</h1>
				<div class="about-row">
					<article class="about-content">
						<p>PiON adalah singkatan dari “Personalized Intervention and Assistance Program”, karena tujuan kami untuk mendukung individu dan keluarga untuk mencapai keseimbangan batin mereka antara pekerjaan, cinta dan bermain.</p>

						<p>Pekerjaan kami terinspirasi oleh Erik Erikson, seorang dokter yang terkenal dengan teorinya bahwa manusia berkembang sepanjang umur mereka. Erikson berkata, “Kehidupan yang paling kaya dan paling penuh berusaha mencapai keseimbangan batin antara tiga bidang: BEKERJA, CINTA, dan BERMAIN”.</p>

						<p>Para klinisi yang bergabung bersama kami adalah para praktisi yang berasal dari berbagai bidang, yang kami harapkan dapat membantu berbagai klien kami seperti anak-anak, remaja, dan dewasa baik secara pribadi maupun keluarga. Berbagai keahlian dan keterampilan akan memperkaya layanan yang diberikan kepada klien dan kolaborasi antara dokter akan membawa pendekatan dan intervensi yang komprehensif namun pribadi kepada mereka.</p>

						<p>Pion Clinician didirikan pada tahun 2016 dan secara legal pada tahun 2018 oleh 3 pendiri:</p>
					</article>
				</div>
				<div class="about-row">
					<div class="about-img">
						<img src="./asset/images/index/astrid1.png" alt="Astrid WEN">
					</div>
					<article class="about-content">
						<p><span>Astrid WEN, M.Psi,</span> Astrid adalah Psikolog Anak dan Keluarga dengan spesialisasi Theraplay. Ia diundang oleh International Theraplay Conference di Chicago pada tahun 2016 untuk mempresentasikan “Theraplay Development in Indonesia”. Tabloid Nakita menyebutnya “Bunda Theraplay Indonesia”.</p>

						<p>Bersama banyak terapis bermain di Asia, ia menjadi kontributor untuk menulis bab “Terapi Bermain di Indonesia” dalam buku “Terapi Bermain di Asia”, The Chinese University Press, Hongkong, 2017.</p>

						<p>Astrid memiliki pengalaman membantu anak-anak dan keluarga dengan masalah emosional, pengalaman traumatis, dan masalah hubungan dengan orang yang mereka cintai. Minat Astrid pada Theraplay, Relation, Love, Play, Child and Family Development. Selain konseling, ia juga memberikan psikoedukasi, mengembangkan konten kreatif, dan berbagi pengalamannya dengan orang lain. Bersama rekan-rekannya, ia mendirikan Pion Clinician dan Theraplay Indonesia. Dia suka kopi, belajar sesuatu yang baru, jalan-jalan, dan menjadi dosen.</p>
					</article>
				</div>
				<div class="about-row">
					<article class="about-content">
						<p><span>Rahma Paramita, M.Psi,</span> Mita adalah Psikolog Anak dan Keluarga, juga Praktisi Terapi dengan minat khusus di bidang Pendidikan. Beliau meraih gelar Magister sebanyak dua kali, pertama sebagai Psikolog Anak dari Universitas Indonesia pada tahun 2004, dan mengambil Magister Manajemen Bisnis dari Prasetya Mulya pada tahun 2014. Beliau telah aktif terlibat dan berkontribusi dalam Pendidikan dan Kurikulum untuk Anak dan Remaja selama lebih dari 10 tahun.</p>

						<p>Pada tahun 2014, ia mulai mengambil Theraplay sebagai spesialisasinya dan saat ini sedang dalam proses untuk menyelesaikan sertifikasinya sebagai Theraplay Therapist dari The Theraplay Institute, Chicago. Bersama rekan-rekannya, ia mendirikan Pion Clinician and Theraplay Indonesia. Mita juga tertarik dengan Metode EMDR, untuk membantu anak-anak dan keluarga yang mengalami peristiwa traumatis.</p>
					</article>
					<div class="about-img">
						<img src="./asset/images/index/mita1.png" alt="Rahma Paramita">
					</div>
				</div>
				<div class="about-row">
					<div class="about-img">
						<img src="./asset/images/index/dewi1.png" alt="Dewi Pravitasari">
					</div>
					<article class="about-content">
						<p><span>Dewi Pravitasari, MM-CAAE</span>: Dewi Pravitasari adalah salah satu pendiri Pion Clinician yang berasal dari latar belakang non-Psikologis. Gelar sarjananya diperoleh dari Fakultas Ekonomi Universitas Indonesia dan gelar Magister Manajemen Internasional dari Universitas Indonesia dan L’université de Pierre Mendès Grenoble, Prancis.</p>

						<p>Pengalamannya di bidang Sumber Daya Manusia, khususnya Hubungan Industrial dimulai pada tahun 2001, sejak ia menjadi konsultan asosiasi untuk beberapa perusahaan. Ketertarikannya pada Psikologi membawanya ke Pion Clinician untuk menjadi salah satu pendiri. Ibu dua anak ini senang menghabiskan waktunya bersama anak-anaknya, menulis, dan menikmati kopinya. Dia meluncurkan novelnya pada tahun 2007, dengan judul “Menjadi 20-an yang Sulit”.</p>
					</article>
				</div>
				<div class="about-row">
					<article class="about-content">
						<p>Untuk memberi klien kami pendekatan pribadi namun komprehensif, kami menghadirkan solusi satu atap. Tenaga profesional kesehatan mental kami berasal dari berbagai latar belakang dan spesialisasi, seperti: Psikolog Dewasa Klinis, Psikolog Klinis Anak, dan Psikolog Pendidikan.</p>

						<p>Kami juga bekerja sama dengan Psikolog Organisasi Industri, Psikiater, Dokter Umum, Konselor Laktasi, Terapis Sensory Integration, Terapis Bermain, dll. Semua psikolog memiliki lisensi praktik sebagai Psikolog.</p>
					</article>
				</div>

			</div>
		</section>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
</body>
</html>
