<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="Tentang Kami"}}

		<!-- media -->
		<section class="section about">
			<div class="board-row">

				<h1 class="title -big">Tentang Kami</h1>
				<div class="about-row">
					<article class="about-content">
						<p>PiON merupakan singkatan dari “Personalized Intervention and Assistance Program”, sesuai tujuan kami mendukung para individu dan keluarga untuk mencapai keseimbangan antara pekerjan, cinta dan bermain.</p>

						<p>Filosofi ini terinspirasi dari Erik Erikson yang mengatakan bahwa “Kehidupan orang terkaya adalah orang yang dapat mencapai keseimbangan batin antara Bekerja, Cinta, dan Bermain”.</p>

						<p>PiON Clinician merupakan gabungan dari praktisi klinis yang membantu secara aktif perkembangan anak, remaja, dewasa baik secara individual maupun keluarga. Ahli yang bergabung di PiON Clinician memiliki keahlian dan spesialisasi masing-masing sehingga memperkaya jenis layanan yang diberikan pada klien.</p>

						<p>Dengan penggabungan berbagai keahlian tersebut, pendekatan serta intervensi yang diberikan kepada PiON Clinician dapat bersifat lebih menyeluruh, komprehensif namun tetap personal.</p>
					</article>
					<div class="about-asset">
						<img src="./asset/images/index/about-1.svg" alt="">
					</div>
				</div>
				<div class="about-row">
					<div class="about-asset">
						<img src="./asset/images/index/about-2.svg" alt="">
					</div>
					<article class="about-content">
						<h2>Visi</h2>

						<p>Menjadi mitra terbaik bagi keluarga dan masyarakat Indonesia untuk mencapai keseimbangan batin lewat keseimbangan dalam bekerja, cinta, dan bermain.</p>

						<h2>Misi</h2>

						<ul>
							<li>Mengedukasi individu, keluarga, dan masyarakat Indonesia tentang pentingnya mencapai keseimbangan batin</li>
							<li>Membantu individu, keluarga, dan masyarakat Indonesia mencapai keseimbangan batin sehingga menampilkan potensi optimalnya.</li>
							<li>Menjadi rujukan untuk pertanyaan atau masalah yang terkait pengembangan diri dan keluarga.</li>
						</ul>

					</article>
				</div>

			</div>
		</section>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
</body>
</html>
