<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="" logged=true}}

		<!-- mainboard -->
		<main class="main">
			
			<!-- booking -->
			<section class="section board">

				<div class="board-row">
	
					<div class="booking-block">

						<h1 class="title -big">Booking Confirmation</h1>
						<div class="booking-body">

							<div class="booking-summary">
								<h2 class="title">Session Details</h2>
								<div class="booking-row">
									<div class="booking-col">Session</div>
									<div class="booking-content">Child (0 - 12 years old) - Session with a Psychologist</div>
								</div>
								<div class="booking-row">
									<div class="booking-col">Expert</div>
									<div class="booking-content">Dr. Rahma Paramita, M.Psi.</div>
								</div>
								<div class="booking-row">
									<div class="booking-col">Date</div>
									<div class="booking-content">Tuesday, 20 Desember 2023, 18.00 WIB</div>
								</div>
								<div class="booking-row">
									<div class="booking-col">Duration</div>
									<div class="booking-content">1 Hour</div>
								</div>
								<div class="booking-row">
									<div class="booking-col">Location</div>
									<div class="booking-content">Pion Jakarta, Jl. Warung Jati Barat No.3, Jati Padang, Ps. Minggu</div>
								</div>
							</div>
							<div class="booking-summary">
								<h2 class="title">Payment Details</h2>
								<div class="note-list -invoice -cols">
									<div class="note-item -header desktop-only">
										<div class="note-block">
											<div class="note-col col-basis col-30">
												<div class="note-content">Item</div>
											</div>
											<div class="note-col col-basis col-40">
												<div class="note-content">Content</div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-content -right">Price</div>
											</div>
										</div>
									</div>
									
									<div class="note-item">
										<div class="note-block">
											<div class="note-col col-basis col-30">
												<div class="note-header">Item</div>
												<div class="note-content">Assesment Package</div>
											</div>
											<div class="note-col col-basis col-40">
												<div class="note-header">Content</div>
												<div class="note-content">With Muhamad Ali, M.Psi., Psikolog on 30 September 2023 via In-person</div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Price</div>
												<div class="note-content -right"><strong>Rp 500.000,00</strong></div>
											</div>
										</div>
									</div>
									<div class="note-item">
										<div class="note-block">
											<div class="note-col col-basis col-30">
												<div class="note-header">Item</div>
												<div class="note-content">Assesment Package</div>
											</div>
											<div class="note-col col-basis col-40">
												<div class="note-header">Content</div>
												<div class="note-content">With Muhamad Ali, M.Psi., Psikolog on 30 September 2023 via In-person</div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Price</div>
												<div class="note-content -right"><strong>Rp 500.000,00</strong></div>
											</div>
										</div>
									</div>

									<div class="note-item -footer">
										<div class="note-block">
											<div class="note-col col-basis col-70 desktop-only">
												<div class="note-content -right">Total Package</div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Total Package</div>
												<div class="note-content -right">Rp 500.000,00</div>
											</div>
										</div>
										<div class="note-block">
											<div class="note-col col-basis col-70 desktop-only">
												<div class="note-content -right">Admin Fee <span class="note-quest" data-tooltip="right" aria-label="Admin fee for improve our services"><i class="fa-regular fa-circle-question"></i></span></div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Admin Fee <span class="note-quest" data-tooltip="right" aria-label="Admin fee for improve our services"><i class="fa-regular fa-circle-question"></i></span></div>
												<div class="note-content -right">Rp 50.000,00</div>
											</div>
										</div>
										<div class="note-block">
											<div class="note-col col-basis col-70 desktop-only">
												<div class="note-content -right">Discount</div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Discount</div>
												<div class="note-content -right">Rp 0,00</div>
											</div>
										</div>
										<div class="note-block">
											<div class="note-col col-basis col-70 desktop-only">
												<div class="note-content -right"><strong>Total</strong></div>
											</div>
											<div class="note-col col-basis col-30">
												<div class="note-header">Total</div>
												<div class="note-content -right"><strong>Rp 550.000,00</strong></div>
											</div>
										</div>
									</div>
								</div>
								<div class="booking-row booking-action -center">
									{{>button type="button" label="Edit my booking" class="-auto" onclick="window.history.go(-1); return false;"}}
									{{>button type="link" href="booking-success.html" label="Confirm my booking" class="-primary -auto"}}
								</div>
							</div>
	
						</div>

					</div>

				</div>

			</section>

		</main>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}

</body>
</html>
