<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="Kontak Kami"}}

		<!-- media -->
		<section class="section about">
			<div class="board-row">

				<h1 class="title -big">Kontak Kami</h1>
				<div class="contact-row">
					<div class="contact-col col-basis col-50">
						<article class="contact-content">
							<p><strong>Alamat Kantor/Korespondensi:</strong></p>
							<p>ESTUBIZI BUSINESS CENTER</p>
							<p>GEDUNG SETIABUDI 2 LANTAI 2</p>
							<p>Kel. Karet, Kec. Setiabudi, Kota Adm. Jakarta Selatan, Prov. DKI Jakarta</p>
							<hr>
							<p><strong>Alamat Klinik:</strong></p>
							<p>Jl. Warung Jati Barat No.3, Jati Padang, Ps. Minggu Jakarta Selatan, DKI Jakarta</p>
							<hr>
							<p><strong>Jam Operasional:</strong></p>
							<p>Setiap hari 9.00 - 17.00 (sesuai dengan perjanjian)</p>
							<p>Tutup: Hari Libur Nasional</p>
						</article>
					</div>
					<div class="contact-col col-basis col-50">
						<article class="contact-content">
							<p><strong>Hubungi Kami:</strong></p>
							<p>Jika ada pertanyaan dan permintaan kepada Pion Clinician, jangan ragu untuk mengklik tombol di bawah ini. Ikuti kami melalui media sosial kami di Instagram, Facebook, dan LinkedIn.</p>
							<hr>
							<p><a href="tel:+6281339999007" target="_blank"><i class="fa-brands fa-whatsapp"></i> 08133 9999 007 (Inquiry or Clinic)</a>
							<p><a href="tel:+6281387447145" target="_blank"><i class="fa-brands fa-whatsapp"></i> 0813 8744 7145 (B2B Partnership)</a></p>
							<p><a href="mailto:pion@pionindonesia.com" target="_blank"><i class="fa-regular fa-envelope"></i> pion@pionindonesia.com</a></p>
							<hr>
							<p><a href="https://facebook.com/PionClinician" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a> &nbsp; <a href="http://instagram.com/pionclinician/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a> &nbsp; <a href="https://www.linkedin.com/company/pionclinician/" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a></p>
							<hr>
							<a class="button -primary -auto -medium" href="tel:+6281339999007" target="_blank">Hubungi Kami</a>
						</article>
					</div>
				</div>
				<div class="contact-row">
					<div class="contact-col col-basis">
						<article class="contact-content">
							<hr>
							<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.742815090144!2d106.79753781476943!3d-6.29748879544216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1af0c926e95%3A0x1d21faccff59c4c!2sPION%20Clinician!5e0!3m2!1sen!2sid!4v1624585912557!5m2!1sen!2sid" width="100%" height="500" allowfullscreen="allowfullscreen"></iframe>
						</article>
					</div>
				</div>

			</div>
		</section>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
</body>
</html>
