<!DOCTYPE html>
<html lang="en">

{{>head fontless=true}}

<body>

	<div class="container container-back">
			{{>block_back title_back="Back to Home" title_link="index.html"}}
	</div>

	<!-- layout -->
	<div class="container">

		{{>block_top brand="pion-clinician" title="Reset Password" lead="Enter your email or phone number to continue. We'll send you a link with instructions."}}

		<div class="block-middle">
			<div class="form-main">
				<form action="forget-error.html">
					{{>input type="text" label="Email / Phone Number" name="email" placeholder="Email / Phone Number" txterror=txterrorEmail txtVal=txtValEmail nolabel="true"}}
					{{!-- <div class="form-hint">
						<p>KG Media ID milikmu adalah alamat email yang kamu gunakan untuk login di Kompas.com, Tribunnews.com, Grid.id, dan layanan KG Media lainnya.</p>
					</div> --}}
					<hr>
					{{#if txterrorSystem}}
					<div class="form-error text-center">{{txterrorSystem}}</div>
					{{/if}}
					{{>button name="forget" type="submit" label="Reset Password" class="-disabled" disabled="true"}}
				</form>
			</div>
		</div>
		
	</div>

{{>js}}
<script>
	// script untuk keperluan dummy saja
	let ss = document.querySelectorAll("input:not([type=submit])");
	let fr = document.querySelector("input[type=submit]");
	if(!!ss) {
		for(let i=0;i<ss.length;i++) {
			ss[i].addEventListener('input', cekInput);
			ss[i].addEventListener('propertychange', cekInput); 
		}
	}
	function cekInput(e) {
		let va = e.target.value;
		for(let i=0;i<ss.length;i++) {
			console.log(ss[i].value);
			if(ss[i].value!='') {
				fr.classList.add("-primary");
				fr.classList.remove("-disabled");
				fr.removeAttribute("disabled");
			} else {
				fr.classList.add("-disabled");
				fr.setAttribute("disabled","disabled");
			}
		}
	} 
</script>
</body>
</html>
