<!DOCTYPE html>
<html lang="en">

{{>head fontless=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		

		<div class="logged-block">
			<div class="logged-col col-basis col-55 logged-flex">
				<div class="logged-box">
					<div class="logged-logo">
						<a href="index.html">
							<img src="./asset/images/logo-pion-clinician.png" alt="pion-clinician">
						</a>
					</div>
					<div class="logged-title">Atur ulang kata sandi</div>
					<div class="logged-lead">Kamu bisa bikin kata sandi yang baru</div>
				</div>
				<div class="logged-bg">
					<img src="./asset/images/index/forget.svg" alt="Reset Password">
				</div>
			</div>
			<div class="logged-col col-basis col-45 logged-flex">
				<div class="logged-card card">
					<div class="form-main form-login">
						{{!-- <h2 class="title">Kata sandi baru</h2> --}}
						<form action="forget-email-success-v2.html">
							{{>input type="password" label="Kata sandi baru" name="password" placeholder="" txterror=txterrorPsswrd}}
							{{>input type="password" label="Tulis ulang kata sandi baru" name="password2" placeholder="" txterror=txterrorPsswrd}}
							<hr>
							{{#if txterrorSystem}}
							<div class="form-error text-center">{{txterrorSystem}}</div>
							{{/if}}
							{{>button name="forget" type="submit" label="Simpan Kata Sandi" class="-disabled" disabled="true"}}
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

{{>js}}
<script>
	// script untuk keperluan dummy saja
	let ss = document.querySelectorAll("input:not([type=submit])");
	let fr = document.querySelector("input[type=submit]");
	if(!!ss) {
		for(let i=0;i<ss.length;i++) {
			ss[i].addEventListener('input', cekInput);
			ss[i].addEventListener('propertychange', cekInput); 
		}
	}
	function cekInput(e) {
		let va = e.target.value;
		for(let i=0;i<ss.length;i++) {
			console.log(ss[i].value);
			if(ss[i].value!='') {
				fr.classList.add("-primary");
				fr.classList.remove("-disabled");
				fr.removeAttribute("disabled");
			} else {
				fr.classList.add("-disabled");
				fr.setAttribute("disabled","disabled");
			}
		}
	} 
</script>
</body>
</html>
