<!DOCTYPE html>
<html lang="en">

{{>head fontless=true}}

<body>

	<!-- layout -->
	<div class="container">

		{{>block_top brand="pion-clinician" title="Reset Password Success" lead="We have sent you an email. Check your inbox and follow a link with instructions there."}}

		<div class="block-middle">
			{{>button type="link" label="Back to Home" class="-primary" href="index.html"}}
		</div>

		{{!>block_footer link=true}}
		
	</div>

{{>js}}
</body>
</html>
