<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="" logged=true}}

		<!-- mainboard -->
		<main class="main">

			<!-- side -->
			{{>aside active="Dashboard"}}
			
			<!-- dashboard -->
			<section class="section board">

				<div class="board-row">

					<div class="ads-top">
						<img src="https://tpc.googlesyndication.com/simgad/3385343403577288063" alt="" height="250">
					</div>
	
					<h1 class="title"><span class="fa-solid fa-grip"></span> Dashboard</h1>

					{{>summary}}

				</div>

				<div class="board-row">

					<div class="note-row note-chart">
						<div class="note-col col-basis col-100">
							<h2 class="title -small">
								<i class="fa-solid fa-chart-simple"></i> Package Usage of Online Counseling
								<div class="header-attribute">
										<div class="drop-down-attr">
												<a href="#" data-dropdown="filter" class="button -transparent -auto">
													<i class="fa-regular fa-calendar-days" style="font-size: 18px; font-weight: 800; color: #0dacdd;"></i>
													<span style="font-size: 14px; line-height: 1; font-weight: 800; color: #0dacdd;">Filter</span>
												</a>
												<div class="header-user-menu -attr-range">
													<div class="nav-user-menu">
														<div class="nav-user-item">
															<a href="#" class="nav-user-link">
																<i class="fa-solid fa-calendar-day"></i> Today
															</a>
														</div>
														<div class="nav-user-item">
															<a href="#" class="nav-user-link">
																<i class="fa-solid fa-calendar-minus"></i> Yesterday
															</a>
														</div>
														<div class="nav-user-item">
															<a href="#" class="nav-user-link">
																<i class="fa-solid fa-calendar-week"></i> Last 7 Days
															</a>
														</div>
														<div class="nav-user-item">
															<a href="#" class="nav-user-link">
																<i class="fa-solid fa-calendar"></i> Last 30 Days
															</a>
														</div>
														<div class="nav-user-item">
															<a href="javascript:filterRange('modalRange')" class="nav-user-link">
																<i class="fa-solid fa-calendar-check"></i> Custom
															</a>
														</div>
													</div>
												</div>
										</div>
								</div>
							</h2>
							<div class="card mt3">
								<div class="card-body">
									<canvas class="chart-canvas" id="chart-bar" style="max-height: 300px;"></canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="note-row note-chart">
						<div class="note-col col-basis col-50">
							<h2 class="title -small"><i class="fa-solid fa-chart-pie"></i> Participants Based on Gender</h2>
							<div class="card mt3">
								<div class="card-body">
									<canvas class="chart-canvas" id="chart-pie" style="max-width: 300px; max-height: 300px;"></canvas>
								</div>
							</div>
						</div>
						<div class="note-col col-basis col-50">
							<h2 class="title -small"><i class="fa-solid fa-chart-pie"></i> Participants Based on Age</h2>
							<div class="card mt3">
								<div class="card-body">
									<canvas class="chart-canvas" id="chart-doughnut" style="max-width: 300px; max-height: 300px;"></canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="note-row note-chart">
						<div class="note-col col-basis col-100">
							<h2 class="title -small"><i class="fa-solid fa-chart-bar"></i> Issue</h2>
							<div class="card mt3">
								<div class="card-body">
									<canvas class="chart-canvas" id="chart-bar-2"></canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="note-row note-chart">
						<div class="note-col col-basis col-50">
							<h2 class="title -small"><i class="fa-solid fa-chart-line"></i> Package Usage of Online Counseling</h2>
							<div class="card mt3">
								<div class="card-body">
									<canvas class="chart-canvas" id="chart-line" style="max-height: 300px;"></canvas>
								</div>
							</div>
						</div>
						<div class="note-col col-basis col-50">
							<h2 class="title -small"><i class="fa-solid fa-chart-line"></i> Participants Based on Departement</h2>
							<div class="card mt3">
								<div class="card-body">
									<table class="chart-table" width="400">
										<tr>
											<th>No</th>
											<th>Departement</th>
											<th>Session</th>
										</tr>
										<tr>
											<td>1</td>
											<td>Human Resources</td>
											<td>3</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Quality</td>
											<td>3</td>
										</tr>
										<tr>
											<td>3</td>
											<td>R&D</td>
											<td>1</td>
										</tr>
										<tr>
											<td>4</td>
											<td>Marketing</td>
											<td>2</td>
										</tr>
										<tr>
											<td>5</td>
											<td>E-commerce</td>
											<td>11</td>
										</tr>
										<tr>
											<td>6</td>
											<td>Manufacturing</td>
											<td>3</td>
										</tr>
										<tr>
											<td>7</td>
											<td>Finance</td>
											<td>1</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-content -small" data-modal-target="modalRange" data-modal-bgclick="true">
						<form action="#">
						<div class="modal-header">
							<div class="modal-title">Set Custom Date Range</div>
							<button class="button modal-dismiss" aria-label="Close" data-modal-button="dismiss">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>
						<div class="modal-body">
							<div class="range-filter-form js-range-from">
								<div class="form-row form-inline">
									<input type="text" id="range_from" name="range_from" class="" placeholder="From" readonly="readonly">
								</div>
								<div class="form-row form-inline -range">
									<button class="button -transparent" type="button">-</button>
								</div>
								<div class="form-row form-inline">
									<input type="text" id="range_to" name="range_to" class="" placeholder="Until" readonly="readonly">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="button -auto -transparent" data-modal-button="dismiss">Cancel</button>
							<button type="button" class="button -primary -auto" onclick="dummyChange('Your report from 12/12/2023 to 12/12/2023')" type="button">Apply</button>
						</div>
						</form>
					</div>

				</div>

			</section>

		</main>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	// dummy toast 
	function dummyChange(toastMsg) {
		reactionToast(toastMsg)
		closeModal()
	}

	// date range filter
	let options_filter = {
		format: "dd MM yyyy",
		leftArrow: '<',
		language: 'id',
		rightArrow: '>',
		orientation: "bottom auto",
		allowOneSidedRange: false,
		autohide: false
	}
	function filterRange(el) {
		// open modal
		openModal(el)

		// re-init render js datepicker inside modal
		let rangeFrom = document.querySelector('#modal .js-range-from');
		if(rangeFrom) {
			const datepickerFrom = new DateRangePicker(rangeFrom, options_filter);
		}
	}

	// bar
  const chart_bar = document.getElementById('chart-bar');

  new Chart(chart_bar, {
    type: 'bar',
    data: {
      labels: ['Session 1', 'Session 2', 'FU Session*'],
      datasets: [{
        data: [7, 2, 3],
        borderWidth: 1
      }]
    },
		options: {
			responsive: true
		},
  });

	// pie
  const chart_pie = document.getElementById('chart-pie');

  new Chart(chart_pie, {
		type: 'pie',
    data: {
      labels: ['Female', 'Male'],
      datasets: [{
        data: [8, 4]
      }]
    },
		options: {
			responsive: true,
			plugins: {
				legend: {
					position: 'bottom',
				}
			}
		},
  });

	// doughnut
  const chart_doughnut = document.getElementById('chart-doughnut');

  new Chart(chart_doughnut, {
		type: 'doughnut',
    data: {
      labels: ['Age 21-30', 'Age 31-40', 'Age 41-50'],
      datasets: [{
        data: [18, 14, 1]
      }]
    },
		options: {
			responsive: true,
			plugins: {
				legend: {
					position: 'bottom',
				}
			}
		},
  });

	// bar
  const chart_bar_2 = document.getElementById('chart-bar-2');

  new Chart(chart_bar_2, {
    type: 'bar',
    data: {
      labels: ['Session 1', 'Session 2', 'FU Session*'],
      datasets: [{
        data: [7, 2, 3],
        borderWidth: 1
      }]
    },
		options: {
	    indexAxis: 'y',
			responsive: true
		},
  });

	// line
  const chart_line = document.getElementById('chart-line');

  new Chart(chart_line, {
    type: 'line',
    data: {
      labels: ['Session 1', 'Session 2', 'Session 3', 'FU Session*'],
      datasets: [{
        data: [10, 108, 77, 59],
        borderWidth: 2
      }]
    },
		options: {
			responsive: true
		},
  });

</script>

</body>
</html>
