<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="" logged=true}}

		<!-- mainboard -->
		<main class="main">

			<!-- side -->
			{{>aside active="Services"}}
			
			<!-- dashboard -->
			<section class="section board">

				<div class="board-row">
	
					<h1 class="title">
						<span class="fa-solid fa-clipboard-user"></span>
						My Services
					</h1>

					<div class="tile-list -service">
						<div class="card tile-card">
							<div class="card-body tile-body">
								<a href="#service-01" class="service-expand-button accordion-toggle -active">
									<i class="fa-solid fa-user-tag"></i> Session with a Psychologist
									<div class="icon icon-arrow-down"></div>
								</a>
								<div class="service-expand-content accordion-content -active" id="service-01">
									<div class="service-content">
										<div class="service-toggle form-toggle">
											<label for="setting-service-01">
												<input name="setting-service-01" id="setting-service-01" type="checkbox" autocomplete="off" checked="checked" onchange="reactionToast('Session with a Psychologist is active now')">
												<span>Session with a Psychologist</span>
											</label>
										</div>
										<div class="service-date-list"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="card tile-card">
							<div class="card-body tile-body">
								<a href="#service-02" class="service-expand-button accordion-toggle">
									<i class="fa-solid fa-user-tag"></i> Session with a Life Coach
									<div class="icon icon-arrow-down"></div>
								</a>
								<div class="service-expand-content accordion-content" id="service-02">
								</div>
							</div>
						</div>
					</div>

					<div class="modal-content -medium" data-modal-target="modalSchedule">
						<form action="#">
						<div class="modal-header">
							<div class="modal-title">Edit Schedule</div>
							<button type="button" class="button modal-dismiss" aria-label="Close" data-modal-button="dismiss">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>
						<div class="modal-body">
							<div class="modal-row">
								<div class="form-text">Date to abstain</div>
								{{>input type="text" label="Date" name="date-schedule" placeholder="Date" nolabel="true" function="js-schedule-edit" parent="js-schedule-parent" readonly="true"}}
							</div>
							<div class="modal-row">
								<div class="form-text">Time to attend or abstain</div>
								<div class="form-row">
									<div class="form-grid holiday-toggle">
										{{>radio multiple=true label="10.00" id="time_1000" name="book_time" checked="true"}}
										{{>radio multiple=true label="10.30" id="time_1030" name="book_time" checked="true"}}
										{{>radio multiple=true label="11.00" id="time_1100" name="book_time"}}
										{{>radio multiple=true label="11.30" id="time_1130" name="book_time"}}
										{{>radio multiple=true label="12.00" id="time_1200" name="book_time"}}
										{{>radio multiple=true label="12.30" id="time_1230" name="book_time"}}
										{{>radio multiple=true label="13.00" id="time_1300" name="book_time"}}
										{{>radio multiple=true label="13.30" id="time_1330" name="book_time"}}
										{{>radio multiple=true label="14.00" id="time_1400" name="book_time"}}
										{{>radio multiple=true label="14.30" id="time_1430" name="book_time"}}
										{{>radio multiple=true label="15.00" id="time_1500" name="book_time"}}
										{{>radio multiple=true label="15.30" id="time_1530" name="book_time"}}
										{{>radio multiple=true label="16.00" id="time_1600" name="book_time"}}
										{{>radio multiple=true label="16.30" id="time_1630" name="book_time"}}
										{{>radio multiple=true label="17.00" id="time_1700" name="book_time"}}
										{{>radio multiple=true label="17.30" id="time_1730" name="book_time"}}
										{{>radio multiple=true label="18.00" id="time_1800" name="book_time"}}
									</div>
								</div>
							</div>
							<div class="modal-row">
								<div class="form-text">Reason</div>
								{{>input type="text" label="Reason" name="reason" placeholder="Reason" nolabel="true"}}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="button -auto -transparent" data-modal-button="dismiss">Cancel</button>
							<button type="button" class="button -primary -auto" onclick="dummyChange('Your schedule has been updated')" type="button">Save</button>
						</div>
						</form>
					</div>

				</div>

			</section>

		</main>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
<script>

	// dummy toast 
	function dummyChange(toastMsg) {
		reactionToast(toastMsg)
		closeModal()
	}

</script>
</body>
</html>
