<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician"}}

		<!-- media -->
		<section class="section about">
			<div class="board-row">

				<h1 class="title -big">Privacy Policy</h1>
				<div class="about-row">
					<article class="about-content">
						<p>PiON adalah singkatan dari “Personalized Intervention and Assistance Program”, karena tujuan kami untuk mendukung individu dan keluarga untuk mencapai keseimbangan batin mereka antara pekerjaan, cinta dan bermain.</p>

						<h2>“Personalized Intervention and Assistance Program”</h2>

						<p>Pekerjaan kami terinspirasi oleh <a href="#">Erik Erikson</a>, seorang dokter yang terkenal dengan teorinya bahwa manusia berkembang sepanjang umur mereka. Erikson berkata, “Kehidupan yang paling kaya dan paling penuh berusaha mencapai keseimbangan batin antara tiga bidang: BEKERJA, CINTA, dan BERMAIN”.</p>

						<ul>
							<li>Untuk memberikan dukungan atau informasi lainnya;</li>
							<li>Untuk memberikan informasi mengenai produk atau informasi terkini;</li>
							<li>Menganalisis perilaku Pelanggan untuk memberikan pengalaman, pelayanan dan informasi yang lebih baik dan sesuai;</li>
						</ul>

						<p>Para klinisi yang bergabung bersama kami adalah para praktisi yang berasal dari berbagai bidang, yang kami harapkan dapat membantu berbagai klien kami seperti anak-anak, remaja, dan dewasa baik secara pribadi maupun keluarga. Berbagai keahlian dan keterampilan akan memperkaya layanan yang diberikan kepada klien dan kolaborasi antara dokter akan membawa pendekatan dan intervensi yang komprehensif namun pribadi kepada mereka.</p>

						<h2>“Personalized Intervention and Assistance Program”</h2>

						<ol>
							<li>Untuk memberikan dukungan atau informasi lainnya;</li>
							<li>Untuk memberikan informasi mengenai produk atau informasi terkini;</li>
							<li>Menganalisis perilaku Pelanggan untuk memberikan pengalaman, pelayanan dan informasi yang lebih baik dan sesuai;</li>
						</ol>

						<p>Para klinisi yang bergabung bersama kami adalah para praktisi yang berasal dari berbagai bidang, yang kami harapkan dapat membantu berbagai klien kami seperti anak-anak, remaja, dan dewasa baik secara pribadi maupun keluarga. Berbagai keahlian dan keterampilan akan memperkaya layanan yang diberikan kepada klien dan kolaborasi antara dokter akan membawa pendekatan dan intervensi yang komprehensif namun pribadi kepada mereka.</p>

					</article>
				</div>

			</div>
		</section>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
</body>
</html>
