<!DOCTYPE html>
<html lang="en">

{{>head fontless=true}}

<body>

	<div class="container container-back">
			{{>block_back title_back="Back to Login" title_link="login.html"}}
	</div>

	<!-- layout -->
	<div class="container">

		{{>block_top brand="pion-clinician" title="Sign Up"}}

		<div class="block-middle">
			{{>form_register txtLabelButton="Create Account" action="register-activation.html" txterrorEmail="Email format that you've entered is invalid" txterrorPsswrd="Password must contain at least 8 characters."}}
		</div>

		{{!>block_footer link=true txtLink="Kembali ke KG Media ID"}}
		
	</div>

{{>js}}
<script>
	// script untuk keperluan dummy saja
	let ss = document.querySelectorAll("input[name=name]");
	let fr = document.querySelector("input[type=submit]");
	if(!!ss) {
		for(let i=0;i<ss.length;i++) {
			ss[i].addEventListener('input', cekInput);
			ss[i].addEventListener('propertychange', cekInput); 
		}
	}
	function cekInput(e) {
		let va = e.target.value;
		for(let i=0;i<ss.length;i++) {
			console.log(ss[i].value);
			if(ss[i].value!=='') {
				fr.classList.add("-primary");
				fr.classList.remove("-disabled");
				fr.removeAttribute("disabled");
			} else {
				fr.classList.remove("-primary");
				fr.setAttribute("disabled","disabled");
			}
		}
	} 
</script>
</body>
</html>
