<!DOCTYPE html>
<html lang="en">

{{>head fontless=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		

		<div class="logged-block logged-pre">
			<div class="logged-col col-basis col-50 logged-flex logged-blue">
				<div class="logged-box">
					<div class="logged-logo">
						<a href="index.html">
							<img src="./asset/images/logo-pion-clinician.png" alt="pion-clinician">
						</a>
					</div>
					<div class="logged-title">Daftar sebagai Individu</div>
					<div class="logged-lead">Ayo bergabung dengan Program Individu pionindonesia.com dan dapatkan pelayanan kami untuk diri anda dan keluarga.</div>
					{{>button type="link" href="register-v2-personal.html" label="Daftar individu" class="-auto"}}
				</div>
				<div class="logged-bg">
					<img src="./asset/images/index/login-personal.svg" alt="Daftar sebagai Individu">
				</div>
			</div>
			<div class="logged-col col-basis col-50 logged-flex">
				<div class="logged-box">
					<div class="logged-title">Daftar sebagai Perusahaan</div>
					<div class="logged-lead">Ayo bergabung dengan Program EAP pionindonesia.com dan dapatkan pelayanan kami untuk perusahaan anda.</div>
					{{>button type="link" href="register-v2-company.html" label="Daftar perusahaan" class="-primary -auto"}}
				</div>
				<div class="logged-bg">
					<img src="./asset/images/index/login-company.svg" alt="Daftar sebagai Perusahaan">
				</div>
			</div>
		</div>

	</div>

{{>js}}
<script>
	// script untuk keperluan dummy saja
	let ss = document.querySelectorAll("input[name=name]");
	let fr = document.querySelector("input[type=submit]");
	if(!!ss) {
		for(let i=0;i<ss.length;i++) {
			ss[i].addEventListener('input', cekInput);
			ss[i].addEventListener('propertychange', cekInput); 
		}
	}
	function cekInput(e) {
		let va = e.target.value;
		for(let i=0;i<ss.length;i++) {
			console.log(ss[i].value);
			if(ss[i].value!=='') {
				fr.classList.add("-primary");
				fr.classList.remove("-disabled");
				fr.removeAttribute("disabled");
			} else {
				fr.classList.remove("-primary");
				fr.setAttribute("disabled","disabled");
			}
		}
	} 
</script>
</body>
</html>
