.icon {
	position: relative;
	@include display-inline-flex();
	img {
		vertical-align: top;
	}
	&-option {
		position: relative;
		width: 1.25rem;
		height: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		& > i:before,
		& > i:after,
		& > i {
			position: relative;
			display: block;
			width: .188rem;
			height: .188rem;
			border-radius: 1rem;
			background: #34475A;
		}
		& > i:before,
		& > i:after {
			content: '';
			position: absolute;
		}
		& > i:before {
			top: -.438rem;
		}
		& > i:after {
			bottom: -.438rem;
		}
	}
	&-burger {
		position: relative;
		width: 1.25rem;
		height: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		& > i:before,
		& > i:after,
		& > i {
			position: relative;
			display: block;
			width: 100%;
			height: .125rem;
			border-radius: 1rem;
			background: var(--primary-pion, #0DACDD);
			transition: all .2s ease-out;
		}
		& > i:before,
		& > i:after {
			content: '';
			position: absolute;
		}
		& > i:before {
			top: -.438rem;
		}
		& > i:after {
			bottom: -.438rem;
		}
		.-active & > {
			& i {
				background: transparent;
				&::before {
					width: 100%;
					top: 0;
					-webkit-transform: rotateZ(-45deg);
					-moz-transform: rotateZ(-45deg);
					-ms-transform: rotateZ(-45deg);
					-o-transform: rotateZ(-45deg);
					transform: rotateZ(-45deg);
				}
				&::after {
					width: 100%;
					bottom: 0;
					-webkit-transform: rotateZ(45deg);
					-moz-transform: rotateZ(45deg);
					-ms-transform: rotateZ(45deg);
					-o-transform: rotateZ(45deg);
					transform: rotateZ(45deg);
				}
			}
		}

	}
	&-whatsapp {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M13.603 2.325A7.874 7.874 0 0 0 7.995 0C3.625 0 .068 3.556.066 7.928c0 1.397.365 2.761 1.059 3.963L0 16l4.203-1.102a7.916 7.916 0 0 0 3.789.964h.003c4.37 0 7.927-3.556 7.928-7.927a7.88 7.88 0 0 0-2.32-5.61ZM7.995 14.523h-.003a6.575 6.575 0 0 1-3.354-.918l-.24-.143-2.494.654.665-2.432-.156-.25a6.576 6.576 0 0 1-1.008-3.507 6.6 6.6 0 0 1 6.593-6.589c1.76.001 3.414.687 4.659 1.933a6.55 6.55 0 0 1 1.928 4.662c-.002 3.634-2.958 6.59-6.59 6.59Zm3.615-4.935c-.198-.099-1.172-.578-1.354-.644-.182-.066-.314-.1-.446.099-.131.199-.511.645-.627.777-.115.132-.231.148-.429.05-.198-.1-.836-.31-1.593-.984-.589-.526-.986-1.174-1.102-1.373-.116-.198-.013-.305.086-.404.09-.089.199-.231.298-.347.099-.115.131-.199.198-.33.066-.133.033-.248-.017-.348-.05-.099-.445-1.074-.61-1.47-.161-.386-.325-.334-.446-.34a7.958 7.958 0 0 0-.38-.007.729.729 0 0 0-.528.248c-.182.198-.694.677-.694 1.652 0 .975.71 1.917.81 2.05.098.132 1.396 2.133 3.383 2.991.473.204.842.326 1.13.418.474.15.906.13 1.248.078.38-.057 1.172-.48 1.337-.942.165-.462.165-.86.115-.942-.05-.083-.182-.132-.38-.231v-.001Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h15.923v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}
	&-mail {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' fill='none'%3E%3Cpath fill='%23000' d='M17.124 1.36a.57.57 0 0 0-.023-.154.59.59 0 0 0-.13-.241l-.01-.012-.01-.01a.643.643 0 0 0-.094-.08l-.024-.016-.028-.017-.026-.014a.54.54 0 0 0-.027-.013l-.03-.012-.026-.01a.642.642 0 0 0-.032-.009l-.027-.006a.641.641 0 0 0-.123-.015L16.5.75H1.487a.614.614 0 0 0-.093.01l-.03.005a.595.595 0 0 0-.06.016l-.028.01-.027.012-.03.014-.024.013a.627.627 0 0 0-.029.017l-.023.015a.594.594 0 0 0-.094.081l-.01.01-.01.012a.659.659 0 0 0-.111.183.578.578 0 0 0-.042.212l-.001.015V12a1.252 1.252 0 0 0 1.25 1.25h13.75a1.252 1.252 0 0 0 1.25-1.25V1.36Zm-2.23.64L9 7.402 3.107 2h11.786Zm.981 10H2.125V2.796L8.578 8.71a.625.625 0 0 0 .844 0l6.453-5.915V12Z'/%3E%3C/svg%3E");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}
	&-view {
		width: 20px;
		height: 12px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' fill='none'%3E%3Cpath fill='%23000' d='M10 1.5c3.35 0 6.48 1.72 8.25 4.5-1.76 2.78-4.9 4.5-8.25 4.5-3.35 0-6.48-1.72-8.25-4.5C3.51 3.22 6.65 1.5 10 1.5ZM10 0C6.01 0 2.29 2.11.3 5.5L0 6l.3.5C2.31 9.89 6.02 12 10 12c3.98 0 7.71-2.11 9.7-5.5L20 6l-.3-.5C17.69 2.11 13.99 0 10 0Z'/%3E%3Cpath fill='%23000' d='M10 10.25A4.26 4.26 0 0 1 5.75 6 4.26 4.26 0 0 1 10 1.75 4.26 4.26 0 0 1 14.25 6 4.26 4.26 0 0 1 10 10.25Zm0-7C8.48 3.25 7.25 4.48 7.25 6S8.48 8.75 10 8.75 12.75 7.52 12.75 6 11.52 3.25 10 3.25Z'/%3E%3C/svg%3E");
		filter: invert(10%) sepia(9%) saturate(4839%) hue-rotate(170deg) brightness(101%) contrast(92%);
	}
	&-back {
		width: 20px;
		height: 18px;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9.707 1.707A1 1 0 0 0 8.293.293l-8 8a1 1 0 0 0 0 1.415l8 8a1 1 0 0 0 1.414-1.415L3.414 10H19a1 1 0 1 0 0-2H3.415l6.292-6.293Z' clip-rule='evenodd'/%3E%3C/svg%3E");
		filter: invert(10%) sepia(9%) saturate(4839%) hue-rotate(170deg) brightness(101%) contrast(92%);
	}
	&-user {
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='%230DACDD' fill-rule='evenodd' d='M25 31.208a9.091 9.091 0 1 1 0-18.182 9.091 9.091 0 0 1 0 18.182ZM25 50c13.807 0 25-11.193 25-25S38.807 0 25 0 0 11.193 0 25s11.193 25 25 25Zm-14.492-7.575c2.328-5.717 7.939-9.746 14.492-9.746 6.553 0 12.165 4.029 14.492 9.746 4.993-4.157 8.172-10.42 8.172-17.425C47.664 12.483 37.516 2.336 25 2.336 12.483 2.336 2.336 12.483 2.336 25c0 7.005 3.178 13.268 8.172 17.425Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	}
	&-people {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='52' fill='none'%3E%3Cg fill='%230DACDD' clip-path='url(%23a)'%3E%3Cpath d='M22.615 21.916c0 4.395 2.016 8.374 5.31 10.94-6.426 3.741-8.066 11.107-8.709 16.742a2.156 2.156 0 1 0 4.285.49c1.028-9.005 4.041-13.446 10.076-14.847a2.159 2.159 0 0 0 .139-4.166 9.515 9.515 0 0 1-6.788-9.159c0-5.278 4.293-9.572 9.572-9.572 5.279 0 9.572 4.294 9.572 9.572a9.512 9.512 0 0 1-6.789 9.159 2.153 2.153 0 0 0-1.529 2.135c.031.977.717 1.81 1.668 2.03 6.035 1.402 9.051 5.846 10.076 14.848a2.154 2.154 0 0 0 2.388 1.898 2.155 2.155 0 0 0 1.897-2.387c-.643-5.639-2.282-13.002-8.708-16.743 3.293-2.568 5.31-6.545 5.31-10.94 0-7.657-6.23-13.885-13.885-13.885-7.655 0-13.885 6.23-13.885 13.885Z'/%3E%3Cpath d='M47.774 7.44a9.589 9.589 0 0 1 7.077-3.127c5.279 0 9.572 4.293 9.572 9.572a9.512 9.512 0 0 1-6.788 9.159 2.153 2.153 0 0 0-1.53 2.135c.032.977.717 1.81 1.668 2.03 6.035 1.402 9.048 5.845 10.076 14.848a2.155 2.155 0 0 0 2.388 1.898 2.156 2.156 0 0 0 1.897-2.388c-.643-5.638-2.282-13.001-8.708-16.742 3.293-2.569 5.31-6.545 5.31-10.94C68.736 6.227 62.506 0 54.85 0a13.93 13.93 0 0 0-10.266 4.534 2.158 2.158 0 0 0 3.189 2.905ZM3.012 43.971a2.158 2.158 0 0 0 2.14-1.911c1.029-9.006 4.042-13.446 10.077-14.848a2.159 2.159 0 0 0 .139-4.166 9.515 9.515 0 0 1-6.788-9.158c0-5.279 4.293-9.572 9.571-9.572a9.593 9.593 0 0 1 7.078 3.126 2.158 2.158 0 0 0 3.188-2.905A13.932 13.932 0 0 0 18.15 0C10.49 0 4.264 6.23 4.264 13.885c0 4.395 2.016 8.374 5.31 10.94C3.148 28.565 1.508 35.932.865 41.57a2.158 2.158 0 0 0 2.144 2.401h.003Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.852 0h71.297v52H.852z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
	&-calendar {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='52' fill='none'%3E%3Cg fill='%230DACDD' clip-path='url(%23a)'%3E%3Cpath d='M10.452 30.879a1.864 1.864 0 0 1-1.861-1.861V24.08c0-1.026.835-1.861 1.86-1.861h5.545c1.026 0 1.86.835 1.86 1.861v4.937a1.864 1.864 0 0 1-1.86 1.86h-5.544Zm3.682-3.723v-1.214h-1.82v1.214h1.82ZM22.666 30.879a1.864 1.864 0 0 1-1.862-1.861V24.08c0-1.026.835-1.861 1.862-1.861h5.543c1.026 0 1.861.835 1.861 1.861v4.937a1.864 1.864 0 0 1-1.86 1.86h-5.544Zm3.682-3.723v-1.214h-1.821v1.214h1.82ZM10.452 41.746a1.864 1.864 0 0 1-1.861-1.861v-4.938c0-1.026.835-1.861 1.86-1.861h5.545c1.026 0 1.86.835 1.86 1.861v4.938a1.864 1.864 0 0 1-1.86 1.86h-5.544Zm3.682-3.723v-1.215h-1.82v1.215h1.82ZM22.666 41.746a1.864 1.864 0 0 1-1.862-1.861v-4.938c0-1.026.835-1.861 1.862-1.861h5.543c1.026 0 1.861.835 1.861 1.861v4.938a1.864 1.864 0 0 1-1.86 1.86h-5.544Zm3.682-3.723v-1.215h-1.821v1.215h1.82Z'/%3E%3Cpath d='M46.916 52a14.92 14.92 0 0 1-10.776-4.624H5.68A5.686 5.686 0 0 1 0 41.696V9.434a5.685 5.685 0 0 1 5.68-5.679h5.682V1.861C11.362.835 12.197 0 13.224 0c1.026 0 1.86.835 1.86 1.861v1.894h8.492V1.861C23.576.835 24.411 0 25.437 0S27.3.835 27.3 1.861v1.894h8.49V1.861C35.79.835 36.626 0 37.652 0c1.026 0 1.861.835 1.861 1.861v1.894h5.683a5.685 5.685 0 0 1 5.68 5.68v13.32a14.983 14.983 0 0 1 7.642 5.03 14.918 14.918 0 0 1 3.29 9.324c0 8.21-6.68 14.89-14.89 14.89V52Zm0-25.962c-6.105 0-11.072 4.967-11.072 11.072 0 2.502.82 4.865 2.367 6.835A11.21 11.21 0 0 0 40.323 46a10.965 10.965 0 0 0 6.593 2.183c6.105 0 11.073-4.967 11.073-11.072 0-4.943-3.325-9.327-8.084-10.663a11.023 11.023 0 0 0-2.988-.41ZM3.723 41.696a1.96 1.96 0 0 0 1.956 1.957h27.864a14.854 14.854 0 0 1-1.517-6.543c0-8.21 6.68-14.89 14.89-14.89.08 0 .158 0 .236.002v-3.247H3.722v22.721Zm43.43-26.443V9.434a1.96 1.96 0 0 0-1.958-1.956h-5.683V9.37a1.864 1.864 0 0 1-1.86 1.862A1.864 1.864 0 0 1 35.79 9.37V7.478h-8.491V9.37a1.864 1.864 0 0 1-1.862 1.862 1.864 1.864 0 0 1-1.86-1.862V7.478h-8.492V9.37a1.864 1.864 0 0 1-1.861 1.862 1.864 1.864 0 0 1-1.862-1.862V7.478H5.68a1.96 1.96 0 0 0-1.956 1.956v5.819h43.43Z'/%3E%3Cpath d='M46.916 39.019a1.91 1.91 0 0 1-1.909-1.91v-7.087a1.91 1.91 0 0 1 1.91-1.91 1.91 1.91 0 0 1 1.908 1.91V35.2h3.508a1.91 1.91 0 0 1 1.91 1.909 1.91 1.91 0 0 1-1.91 1.909h-5.417Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h61.806v52H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
	&-client {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='52' fill='none'%3E%3Cg fill='%230DACDD' clip-path='url(%23a)'%3E%3Cpath d='M7.458 48.788a2.054 2.054 0 1 0-1.572-3.795 2.054 2.054 0 0 0 1.572 3.795Z'/%3E%3Cpath d='M3.274 52a2.594 2.594 0 0 1-2.591-2.591V36.813a2.594 2.594 0 0 1 2.591-2.592h6.796c.864 0 1.643.422 2.117 1.095a5.842 5.842 0 0 0 1.767-1.217l1.326-1.323c.036-.035.074-.07.113-.103 1.537-1.273 2.891-2.247 5.137-2.247a10.473 10.473 0 0 1 1.566.129l9.168 1.726a4.12 4.12 0 0 1 2.665 1.748 4.12 4.12 0 0 1 .638 3.123 4.155 4.155 0 0 1-4.07 3.352h-6.738c-.904 0-1.64-.735-1.64-1.64 0-.903.736-1.64 1.64-1.64h6.738a.87.87 0 0 0 .718-1.354.85.85 0 0 0-.558-.366l-9.132-1.719a7.31 7.31 0 0 0-1.012-.083c-.972 0-1.56.285-2.972 1.45L16.27 36.42a9.177 9.177 0 0 1-3.61 2.222v7.898c.282-.034.708-.06 1.385-.06.838 0 1.653.042 1.688.044l13.41.75a7.407 7.407 0 0 0 4.522-1.253l14.787-10.04a1.34 1.34 0 0 0-1.302-2.328l-9.98 4.496a1.643 1.643 0 0 1-2.168-.822 1.642 1.642 0 0 1 .821-2.168l9.98-4.496a4.59 4.59 0 0 1 1.898-.41c1.743 0 3.318.966 4.112 2.52a4.626 4.626 0 0 1-1.518 5.92L35.508 48.735a10.72 10.72 0 0 1-6.548 1.814l-13.408-.75a29.031 29.031 0 0 0-1.509-.04c-.626 0-.923.023-1 .036l-.428.1a2.595 2.595 0 0 1-2.545 2.103H3.274V52Zm6.108-3.28V37.502h-5.42v11.22h5.42ZM30.83 18.192c-5.015 0-9.096-4.08-9.096-9.096C21.734 4.081 25.814 0 30.83 0s9.096 4.08 9.096 9.096-4.08 9.096-9.096 9.096Zm0-14.913a5.823 5.823 0 0 0-5.816 5.817 5.823 5.823 0 0 0 5.816 5.817 5.823 5.823 0 0 0 5.817-5.817A5.823 5.823 0 0 0 30.83 3.28Z'/%3E%3Cpath d='M42.884 30.192c-.904 0-1.64-.736-1.64-1.64v-2.649a5.012 5.012 0 0 0-5.006-5.007h-.218l-3.964 4.142c-.307.32-.738.505-1.184.505h-.041c-.446 0-.878-.184-1.185-.505l-3.964-4.142h-.218a5.012 5.012 0 0 0-5.006 5.007v2.649c0 .904-.736 1.64-1.64 1.64-.904 0-1.64-.736-1.64-1.64v-2.649c0-4.569 3.717-8.286 8.286-8.286h.919c.445 0 .877.185 1.184.506l3.284 3.43 3.283-3.43c.308-.321.74-.506 1.184-.506h.92c4.568 0 8.285 3.717 8.285 8.286v2.649c0 .904-.735 1.64-1.64 1.64h.001Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.683 0h51.635v52H.683z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
	&-star {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23FFC300' d='M12 19.104 4.584 24l2.136-8.93L0 9.168l8.737-.623L12 0l3.263 8.544L24 9.167l-6.72 5.904L19.416 24 12 19.104Z'/%3E%3C/svg%3E");
	}
}

.note-block[data-accordion]:after,
.title a:after,
.tile-link:after,
.form-select:after,
.icon-arrow-down,
.icon-arrow-right {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12.507 28.158a1.167 1.167 0 0 1 0-1.65L21.015 18l-8.508-8.508a1.167 1.167 0 1 1 1.65-1.65l9.333 9.332a1.167 1.167 0 0 1 0 1.65l-9.333 9.334a1.167 1.167 0 0 1-1.65 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.form-select:after,
.icon-arrow-down {
	transform: rotate(90deg);
}