.paging {
  position: relative;
  padding: 20px 0;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &-link {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #0DACDD;
    color: #0DACDD;
    font-weight: 600;
    font-size: 16px;
    &:hover {
      color: #000;
      background-color: rgba(13, 172, 221, 0.1);
    }
    &.-disabled {
      background-color: $color-disabled;
      border: 1px solid #E2E2E2;
      color: #9A9A9A;
      pointer-events: none;
    }
    &.-active {
      color: #fff;
      background-color: #0DACDD;
    }
  }
}

