.toast {
	position: fixed;
	width: calc(100% - 30px);
	bottom: 60px;
	// top: 65px;
	left: 15px;
	z-index: 11;
	visibility: hidden;
	opacity: 0;
	padding: 12px 20px;
	@include transition(all .2s ease);
	border-radius: 24px;
	gap: 20px;
	display: flex;
	align-items: center;
	background: #333;
	box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.15);
	@include min-responsive($screen-tablet) {
		width: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	&.-show {
		visibility: visible;
		opacity: 1;
	}
	&.-hide {
		visibility: hidden;
		opacity: 0;
	}
	// &[data-toast='bottom'] {
	// 	@include transform(translateY(50px));
	// 	&.-show {
	// 		@include transform(translateY(0));
	// 	}
	// 	&.-hide {
	// 		@include transform(translateY(-50px));
	// 	}
	// }
	
	&Content {
		flex-grow: 1;
		flex-basis: 0;
		@include font-pack(false, 14px, 400, 1.4, #fff);
	}

	&Dismiss {
		flex-grow: 0;
		flex-basis: auto;
		width: auto;
		text-align: center;
		@include font-pack(false, 14px, 700, 1, #fff);
		background: #4d4d4d;
    padding: 10px;
		margin: -10px -15px -10px 0;
		border-radius: 24px;
		.contentArticle &,
		&:hover {
			color: #fff;
		}
	}
}

