// vars project
$color-blue: #0DACDD;
$color-black: #000;
$color-grey: #F0EFEF;
$color-grey-1: #909090;
$color-text-primary: #112639;

// override base on project
$color-base: #112639;
$color-theme: $color-blue;
$color-primary: $color-blue;
$color-secondary: $color-grey;
$bg-base: #EEF0F2;

body {
	--grey-pion: #6A6B6A;
	--primary-pion: #0DACDD;
}