<aside class="aside">
	<nav class="nav-aside">
		<div class="nav-aside-item">
			<a href="booking.html" class="button nav-primary">+ Buat janji</a>
		</div>
		{{#each navdashboard}}
		<div class="nav-aside-item">
			{{#eq title compare=""}}
			<div class="nav-aside-devider"></div>
			{{else}}
			<a href="{{link}}" class="nav-aside-link{{#eq ../active compare=title}} -active{{/eq}}"><i class="{{icon}}"></i> {{title}}</a>
			{{/eq}}
		</div>
		{{/each}}
	</nav>
</aside>
