<footer class="footer">
	<div class="footer-block">
		<div class="footer-row">
			<div class="footer-logo">
				<a href="index.html">
					<img src="./asset/images/logo-{{brand}}.png" alt="{{brand}}">
				</a>
			</div>
		</div>
		<div class="footer-row">
			<div class="footer-col">
				<h4 class="footer-title">Alamat</h4>
				<div class="footer-lead">
					Jl. Warung Jati Barat No.3, Jati Padang, Ps. Minggu <br>
					Jakarta Selatan, DKI Jakarta
				</div>
				<a href="https://goo.gl/maps/F3o4RFMj3gqz91vU6" target="_blank" class="footer-button">Tunjukan rute</a>
			</div>
			<div class="footer-col">
				<h4 class="footer-title">Jam Operasional</h4>
				<div class="footer-lead">
					Senin - Minggu : 8:30 - 17:30 WIB <br>
					Tutup : Hari Libur Nasional
				</div>
				<h4 class="footer-title">Pusat Informasi</h4>
				<div class="footer-lead">
					<a class="footer-contact" href="tel:+6281339999007" target="_blank"><span class="icon icon-whatsapp"></span> +62 8133-9999-006 (Admin Penjadwalan)</a><br>
					<a class="footer-contact" href="tel:+6281387447145" target="_blank"><span class="icon icon-whatsapp"></span> +62 8133-9999-007 (Admin Klinik)</a><br>
					<a class="footer-contact" href="tel:+6281387447145" target="_blank"><span class="icon icon-whatsapp"></span> +62 8133-999-1954 (B2B Inquiry)</a><br>
					<a class="footer-contact" href="mailto:pion@pionindonesia.com" target="_blank"><span class="icon icon-mail"></span>  info@pionindonesia.com</a>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-socmed">
					<a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
					<a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
					<a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
					<a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
				</div>
				<div class="footer-menu">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="footer-lead">© 2013 - 2023, PT. Pranaya Mitra Insani</div>
			</div>
		</div>
	</div>
</footer>

<div id="modal">
	<div class="modal-parent"></div>
</div>

<div class="toast" data-toast="bottom">
	<div class="toastContent"></div>
	<a href="#" class="buttonDismiss toastDismiss" aria-label="Dismiss" role="button" data-toast-button="dismiss">&times</a>
</div>
