.logged {
	&-block {
		position: relative;
		display: flex;
		height: calc(100vh + 0px);
		background: #f9f9f9;
		margin-top: -60px;
		flex-direction: column;
		@include min-responsive($screen-middle) {
			margin-top: -100px;
		}
		@include min-responsive($screen-small-desktop) {
			flex-direction: row;
		}
	}
	&-col {
		position: relative;
		flex-shrink: 1;
	}
	&-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		// @include max-responsive($screen-tablet) {
		// 	min-height: 60vh;
		// }
	}
	&-card {
		position: relative;
		width: 100%;
    min-height: 100%;
    // padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
		flex-direction: column;
		z-index: 1;
		&.card {
			border-radius: 25px 25px 0 0;
			@include min-responsive($screen-small-desktop) {
				border-radius: 25px 0 0 25px;
			}
		}
	}
	&-box {
		position: relative;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 20px;
		z-index: 2;
		margin: 20px 0 30vh;
		width: 100%;
		@include min-responsive($screen-tablet) {
			gap: 20px;
			margin: 20px 0 30vh;
		}
		@include min-responsive($screen-small-desktop) {
			width: 100%;
			margin: 0 0 45vh;
		}
		@include min-responsive($screen-large-desktop) {
			width: 750px;
		}
	}
	&-title {
		font-size: 1.125rem;
		font-weight: 700;
		text-align: center;
		@include min-responsive($screen-tablet) {
			font-size: 1.5rem;
		}
		&.-error {
			color: $color-error;
		}
	}
	&-lead {
		text-align: center;
		font-size: .75rem;
		// display: none;
		@include min-responsive($screen-tablet) {
			display: block;
			font-size: .875rem;
		}
	}
	&-logo {
		height: 50px;
		img {
			height: 50px;
		}
	}
	&-bg {
		width: 100%;
		position: absolute;
		bottom: -20px;
		height: 30vh;
    text-align: center;
		z-index: 1;
		pointer-events: none;
		@include min-responsive($screen-tablet) {
			// height: 30vh;
			bottom: 0;
		}
		@include min-responsive($screen-small-desktop) {
			height: 35vh;
		}
		@include min-responsive($screen-desktop) {
			height: 50vh;
		}
		img {
			height: 100%;
			object-position: bottom;
	    object-fit: contain;
		}
	}
	&-blue {
		background: $color-theme;
		border-radius: 0 0 25px 25px;
		@include min-responsive($screen-small-desktop) {
			border-radius: 0 25px 25px 0;
		}
		.logged-logo {
			filter: brightness(0) invert(1);
		}
		.logged-lead,
		.logged-title {
			color: #fff;
		}
		& ~ .logged-flex .logged-box {
			@include max-responsive($screen-tablet) {
				margin: 40px 0 25vh;
			}
		}
	}
	&-pre {
		@include max-responsive($screen-small-desktop) {
			height: auto;
		}
		.logged-title {
			@include min-responsive($screen-tablet) {
				font-size: 1.65rem;
			}	
		}
		.logged-logo {
			margin: 25px 0 20px;
			@include min-responsive($screen-small-desktop) {
				margin: 0;
				position: fixed;
				z-index: 1;
				top: 20px;
				left: 20px;
			}		
		}
		.logged-bg {
			bottom: -5px;
			@include min-responsive($screen-tablet) {
				height: 25vh;
			}
			@include min-responsive($screen-small-desktop) {
				height: 30vh;
			}
			@include min-responsive($screen-desktop) {
				height: 40vh;
			}
		}
		.logged-flex {
			overflow: hidden;
		}
		.logged-box {
			margin: 20px 0 30vh;
			// @include min-responsive($screen-tablet) {
			// 	margin: 20px 0 30vh;
			// }
			@include min-responsive($screen-small-desktop) {
				margin: 10vh 0 35vh;
			}	
		}
		.button.-auto {
			min-width: 200px;
		}
	}
}
.logged-card {
	.title {
		font-size: 1rem;
		@include min-responsive($screen-tablet) {
			font-size: 1.25rem;
		}
	}
	.block-login p {
		font-size: .875rem;
	}
	.footer-socmed {
		justify-content: center;
		a {
			color: #8495A5;
		}
	}
}
.logged-card .form {
	&-register,
	&-login {
		width: 100%;
		padding: 2rem 1.5rem;
		@include min-responsive($screen-middle) {
			padding: 0;
			width: 400px;
		}
	}
	&-register .form-row,
	&-login .form-row {
		margin: .5rem 0;
	}
	&-main {
		display: flex;
		flex-direction: column;
		// gap: 5px;
		width: 100%;
		@include min-responsive($screen-middle) {
			gap: 10px;
			height: auto;
			overflow: auto;
			padding: 5vh 20px;
			padding: 10vh calc((100% - 400px) / 2);
		}
		@include min-responsive($screen-small-desktop) {
			height: 100vh;
		}
		@include min-responsive($screen-desktop) {
			padding: 10vh calc((100% - 400px) / 2);
		}
	}
	&-main.form-login {
		justify-content: center;
	}
}