<div class="block-footer">
	{{#if link}}
	<div class="text-center">
		{{#if txtLink}}
		<p><a href="index.html">{{txtLink}}</a></p>
		{{else}}
		<p><a href="index.html">Kembali ke KG Media ID</a></p>
		{{/if}}
	</div>
	{{/if}}
	{{#if terms}}
	<div class="block-info">Dengan login di KGMedia ID, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a></div>
	{{/if}}
	{{#if network}}
	
	<div class="block-network">
		<p>KG Media ID dapat digunakan di layanan-layanan berikut</p>
		<div class="network">
			<div class="network-item"><img src="./asset/images/logo-kompascom.png" alt="Kompas.com"></div>
			<div class="network-item"><img src="./asset/images/logo-grid.png" alt="Grid"></div>
			<div class="network-item"><img src="./asset/images/logo-tribunnews.png" alt="Tribunnews"></div>
			<div class="network-item"><img src="./asset/images/logo-kompastv.png" alt="Kompasc TV"></div>
			<div class="network-item"><img src="./asset/images/logo-kompasiana.png" alt="Kompasiana"></div>
			<div class="network-item"><img src="./asset/images/logo-sonora.png" alt="Sonora"></div>
			<div class="network-item"><img src="./asset/images/logo-motorplus.png" alt="Motorplus"></div>
			<div class="network-item"><img src="./asset/images/logo-gridoto.png" alt="Gridoto"></div>
			<div class="network-item"><img src="./asset/images/logo-bolasport.png" alt="Bolasport"></div>
			{{!-- <div class="network-item"><img src="./asset/images/logo-kontan.png" alt="Kontan"></div> --}}
			{{!-- <div class="network-item"><img src="./asset/images/logo-pijaru.png" alt="pijaru"></div> --}}
		</div>
	</div>
	{{/if}}
	{{#if infoBottom}}
	<div class="block-profile-bottom">
		<p class="small">Data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media ID</a></p>
	</div>
	{{/if}}
</div>
