<div class="kgmDialog" id="kgmDialog-confirm-logout">
  <div class="kgmDialog-block">
    <div class="kgmDialog-header">
      <div class="kgmDialog-title">Keluar akun?</div>
    </div>
    <div class="kgmDialog-body">
      <p>Apakah kamu yakin ingin keluar dari <strong>[nama website]</strong>?</p>
    </div>
    <div class="kgmDialog-footer --cta">
      <a href="index.html" class="button -tertiary">Ya, lanjutkan</a>
      <button type="button" onclick="document.getElementById('kgmDialog-confirm-logout').style.display='none';return false;" class="button -primary">Batalkan</button>
    </div>
  </div>
</div>