<div class="kgmDialog --smdialog" id="kgmDialog-confirm-logout">
  <div class="kgmDialog-block text-center">
    <div class="kgmDialog-header">
      <div class="kgmDialog-title">Apakah kamu yakin akan keluar dari perangkat ini?</div>
    </div>
    <div class="kgmDialog-body">
      <p>Perangkatmu sedang digunakan saat ini</p>
    </div>
    <div class="kgmDialog-footer --cta2">
      <a href="index.html" class="button -danger">Logout</a>
      <button type="button" onclick="document.getElementById('kgmDialog-confirm-logout').style.display='none';return false;" class="button -tertiary2">Batal</button>
    </div>
  </div>
</div>