<div class="kgmDialog --smdialog" id="kgmDialog-confirm-limit-device">
  <div class="kgmDialog-block text-center">
    <div class="kgmDialog-header">
      <div class="kgmDialog-title">Akses Kompas.com+ mencapai batas 10 perangkat</div>
    </div>
    <div class="kgmDialog-body">
      <p>Nonaktifkan Kompas.com+ di perangkat lainnya</p>
    </div>
    <div class="kgmDialog-footer --cta2">
      <button type="button" onclick="document.getElementById('kgmDialog-confirm-limit-device').classList.remove('-show');return false;" class="button -primary">Atur Perangkat</button>
    </div>
  </div>
</div>