<div class="kgmDialog" id="kgmDialog-confirm-remove_account">
  <div class="kgmDialog-block">
    <div class="kgmDialog-header">
      <div class="kgmDialog-title">Lanjutkan menghapus akun?</div>
    </div>
    <div class="kgmDialog-body">
      <p>Informasi, aktivitas, dan konfigurasi akunmu akan dihapus secara permanen.</p>
    </div>
    <div class="kgmDialog-footer --cta2">
      <a href="account-delete-new.html" class="button -tertiary">Ya, lanjutkan</a>
      <button type="button" onclick="document.getElementById('kgmDialog-confirm-remove_account').style.display='none';return false;" class="button -primary">Batalkan</button>
    </div>
  </div>
</div>