<div class="form-main">
	<form action="{{action}}">
		{{>input type="password" label="Password" name="password" placeholder="password" txterror=txterrorPsswrd}}
		{{>input type="password" label="Ulangi" name="repassword" placeholder="ulangi password" txterror=txterrorPsswrd2}}
		<div class="form-hint">
			<p>Panjang password setidaknya 8 karakter, mengandung angka, huruf kapital, dan huruf kecil.</p>
		</div>
		<hr>
		<div class="form-captcha">
			<img src="./asset/images/dummy/captcha.png" alt="">
		</div>
		<hr>
		{{#if txterrorSystem}}
		<div class="form-error text-center">{{txterrorSystem}}</div>
		{{/if}}
		{{>button type="submit" label="Lanjutkan" class="-primary"}}
		<hr>
		<div class="form-hint">
			<p>Dengan menekan tombol “Lanjutkan”, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
		</div>
	</form>
</div>
