<div class="form-main">
	<form action="{{action}}">
		{{>input type="password" label="Password" name="password_old" placeholder="password saat ini"}}
		{{>input type="password" label="Password Baru" name="password_new" placeholder="password baru"}}
		{{>input type="password" label="Verifikasi Password" name="password_new2" placeholder="ulangi password baru"}}
		<div class="form-hint">
			<p>Panjang password setidaknya 8 karakter, mengandung angka, huruf kapital, dan huruf kecil.</p>
		</div>
		<hr>
		{{#if txterrorSystem}}
		<div class="form-error text-center">{{txterrorSystem}}</div>
		{{/if}}
		{{>button type="submit" label="Ganti Password" class="-primary"}}
		<p><a href="forget.html">Lupa Password?</a></p>
	</form>
</div>
