<div class="panel">
	<nav class="nav">
		{{#eq main compare="true"}}
		<div class="nav-item">
			<a href="profile-edit.html">Ubah Profil</a>
		</div>
		<div class="nav-item">
			<a href="password-edit.html">Ganti Password</a>
		</div>
		{{else}}
		<div class="nav-item">
			<a href="index.html" class="nav-hot">Logout</a>
		</div>
		{{/eq}}
	</nav>
</div>
